---
layout: default.njk
title: Skyler Ma | About
name: about
---

<div class="topic-heading-div">
  <h1 class="topic-heading about-heading">My name is Skyler Ma.</h1>
  <h2 class="topic-subheading about-subheading">I'm a student in Grade 11 at Merivale HS.</h2>
  <p>In my free time, I enjoy playing the guitar, singing, programming, playing video games, reading, and playing sports.</p>
</div>