---
layout: default.njk
title: Skyler Ma
name: index
---

<div class="intro-div">
  <div class="intro-img-div">
    <img
      class="intro-img"
      srcset="
        assets/img/portrait-900x1200.jpg 900w,
        assets/img/portrait-600x800.jpg 600w,
        assets/img/portrait-480x640.jpg 480w
      "
      sizes="
        (max-width: 36rem) 480px,
        (max-width: 48rem) 600px,
        (max-width: 64rem) 480x,
        (max-width: 100rem) 600px,
        900px
      "
      src="assets/img/portrait-900x1200.jpg"
      alt="Picture of Skyler">
  </div>

  <div class="intro-text-div">
    <h1 class="intro-heading">I'm Skyler!</h1>
    <p class="intro-text">I am a student in Grade 12 with a passion for music and programming.</p>
  </div>
</div>
