---
layout: default.njk
title: Skyler Ma
name: index
---

<div class="intro-div">
  <div class="intro-img-div">
    <img class="intro-img" src="assets/media/img/portrait.jpg" alt="Picture of Skyler">
  </div>
  
  <div class="intro-text-div">
    <h1 class="intro-heading">I'm Skyler!</h1>
    <p class="intro-text">I am a student in Grade 11 with a passion for music and programming.</p>
    <p>This site is still a work in progress.</p>
  </div>
</div>
