---
layout: default.njk
title: Skyler Ma | Music
name: music
---

<h1 class="topic-heading music-heading">Music</h1>
<div class="music-recordings-div">
  <div class="music-video-div">
    <iframe
      class="music-video"
      src="https://www.youtube-nocookie.com/embed/76NVQlqehsQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
  <div class="music-video-div">
    <iframe
      class="music-video"
      src="https://www.youtube-nocookie.com/embed/b8JqFL9aP-o"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</div>

<p>
  I play the guitar and sing, and I've written some original songs. My favourite genres are rock, pop, and jazz. I'm a huge Radiohead fan!
</p>
<p>
  Check out more of my recordings on my <a href="https://www.youtube.com/@sky.lermusic">YouTube channel</a>!
</p>