---
layout: default.njk
title: Skyler Ma | Music
name: music
---

<div class="topic-heading-div">
  <h1 class="topic-heading music-heading">I love music!</h1>
  <h2 class="topic-subheading music-subheading">I play the guitar and (try to) sing a bit too. I also listen to music a lot.</h2>
  <p>I am the guitarist in the Nepean All-City Lab Band as well as in the Merivale High School Jazz Band.</h2>
</div>

<h1 class="section-heading">Featured Recordings</h1>
<div class="music-recordings-div">
  <div class="music-video-div">
    <iframe
      class="music-video"
      src="https://www.youtube-nocookie.com/embed/OAEnJxXmjho?controls=0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
  <div class="music-video-div">
    <iframe
      class="music-video"
      src="https://www.youtube-nocookie.com/embed/KJv13_BZTzA?controls=0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</div>

<p>
  My favourite song is Jigsaw Falling Into Place, from In Rainbows, my favourite album, by Radiohead, my favourite band.
  I mostly listen to rock, pop, and jazz. Some other artists I like are John Mayer, Laufey, Nothing But Thieves, Blur,
  John Scofield, Julian Lage, Pat Metheny, Wes Montgomery, Ed Sheeran, The Beatles, Queen, and The Smile.</p>
<p>
  I have been taking guitar lessons since spring of 2019 with a local musician named Lucas Haneman. Give his band, the
  Lucas Haneman Express, a listen!
</p>
</p>