---
layout: default.njk
title: Skyler Ma | Projects
name: projects
---

<div class="topic-heading-div">
  <h1 class="topic-heading projects-heading">Projects</h1>
  <p
    >More details on projects coming soon! In the meantime, check out some brief descriptions of my projects
    in my <a href="/assets/pdf/Skyler_Ma_Resume.pdf" target="_blank">résumé</a>.
  </p>
</div>