<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link href="/assets/css/main.css" rel="stylesheet">
    <script src="/assets/js/fonts-loaded-fout.js"></script>
    
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/img/favicon/apple-touch-icon.png">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/favicon/favicon-32x32.png">
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link
      rel="mask-icon"
      href="/assets/img/favicon/safari-pinned-tab.svg"
      color="#5bbad5">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>{{ title }}</title>

  </head>

  <body>
    <nav class="navbar" id="navbar">      
      <a class="nav-title" href="/">sm</a>
      <div class="nav-links-div">
        <a class="nav-link{% if name == 'index' %} active{% endif %}" href="/">Home</a><!--Remove whitespace between links
        --><a class="nav-link nav-middle-left{% if name == 'music' %} active{% endif %}" href="/music/">Music</a><!--
        --><a class="nav-link nav-middle-right{% if name == 'projects' %} active{% endif %}" href="/projects/">Projects</a><!--
        --><a class="nav-link" download href="/assets/pdf/Skyler_Ma_Resume.pdf">Résumé</a>
      </div>
    </nav>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <div class="footer-div">
        <p class="footer-text">
          © 2025 Skyler Ma
        </p>
      </div>
    </footer>
  </body>

</html>