// #########################################################

// General

// ######################################################

html {
    height: 100%; // Bottom footer
}

body {
    margin: 0;
    padding: 0;
    background-color:rgb(27, 22, 34);
    font-family: "Poppins", sans-serif;
    color: rgb(233, 232, 255);
    font-size: 1.3rem;
    // Make footer at bottom of page even if content is too short
    display: flex;
    flex-direction: column;
    height: 100%;
}



main {
    margin: 6rem 10% 3rem;
    
    flex: 1; // Bottom footer
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    line-height: 160%;
}

.section-heading {
    font-weight: 400;
}


// #########################################################

// Navbar

// ######################################################

.navbar {
    padding: 1.2rem 2.5rem;
    font-family: "Fira Code", monospace;
    background-color: rgb(21, 16, 26);
    overflow: hidden;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
}

.nav-link, .nav-title {
    display: inline;
    text-decoration: none;
}

.nav-title {
    width: min-content;
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 10;
    font-size: 2rem;
    font-weight: 400;
    padding: 0.3rem 0.7rem;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background: none;
        color:rgb(187, 224, 255);
     }

    background: linear-gradient(to right, rgb(215, 155, 255), rgb(136, 207, 255), rgb(215, 155, 255));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border: 0.125rem solid hsl(250, 40%, 30%);
    border-image: linear-gradient(to bottom right, hsl(276, 40%, 40%), hsl(209, 40%, 40%)) 1;

    &:hover {
        animation: textHover 1.5s linear infinite;
        border-image: linear-gradient(to bottom right, rgb(209, 139, 255), rgb(109, 185, 255)) 1;
        border-color: rgb(185,175,254);
    }

    @keyframes textHover {
        to {
            background-position: 200%;
        }
    }
}

.nav-link {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin: 0 0.5rem;
    font-size: 1.3rem;
    vertical-align: 5%;
    
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background: none;
        color:rgb(227, 220, 255);
    }

    background: linear-gradient(rgb(173, 255, 234), rgb(194, 233, 255), rgb(176, 190, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    border: 0.125rem solid transparent;

    &.active {
        border-image: linear-gradient(to bottom right, rgb(71, 89, 122), rgb(85, 62, 98)) 1;
    }
    &:hover, &:focus {
        border-image: linear-gradient(rgb(173, 255, 234), rgb(194, 233, 255), rgb(176, 190, 255)) 1;
    }   
}

.nav-middle-left {
    margin-right: 6rem;
}
.nav-middle-right {
    margin-left: 6rem;
}

.nav-links-div {
    text-align: center;
    position: absolute;
    left: 10rem;
    right: 10rem;
    top: 2rem;
    display: inline-block;
}


// #########################################################

// Responsive Navbar

// ######################################################

.nav-toggle {
    display: none;
    background: transparent;
    border: 0.125rem transparent;
    cursor: pointer;
    margin: 0.2rem;
    border: 0.125rem solid transparent;
}


// #########################################################

// Footer

// ######################################################

.footer-div {
    padding: 1.2rem;
    text-align: center;
    background-color: rgb(21, 16, 26);
}

.footer-text {
    color: hsl(243, 25%, 80%);
    font-size: 1.1rem;
}


// #########################################################

// Index Body Content

// ######################################################

.intro-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.intro-heading {
    font-size: 6rem;
    font-weight: 400;
    margin: 0;
    line-height: 110%;
    background: linear-gradient(to bottom right, rgb(255, 158, 103), rgb(240, 165, 255) 40%, rgb(1, 200, 255) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.intro-text-div {
    flex-basis: 55%;
    padding-top: 1rem;
}

.intro-img-div {
    flex-basis: 45%;
}

.intro-img {
    width: 100%;
}

.intro-img-caption {
    margin-top: 0.5rem;
    text-align: center;
    font-style: italic;
}



// #########################################################

// Topic Pages (About, Music, Projects)

// ######################################################

.topic-heading-div {
    padding: 5%;
    margin-bottom: 3rem;
    background-color: rgb(31,28,44);
}

.topic-heading {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 0.7rem;
}

.topic-subheading {
    font-size: 2rem;
    font-weight: 400;
}


// #########################################################

// About

// ######################################################

.about-heading {
    background: linear-gradient(rgb(197, 158, 255), rgb(164, 205, 255), rgb(158, 255, 181));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


// #########################################################

// Music

// ######################################################

.music-heading {
    background: linear-gradient(rgb(161, 158, 255), rgb(255, 164, 202), rgb(255, 228, 158));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.music-recordings-div {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    flex-direction: row;
}

.music-video-div {
    flex-grow: 1;
    display: flex;
}

.music-video {
    flex-grow: 1;
    aspect-ratio: 16 / 9;
}


// #########################################################

// Breakpoints

// ######################################################

@media screen and (max-width: 75rem) {
    .intro-heading {
        font-size: 5rem;
    }
    .topic-heading-div {
        padding: 8%;
    }
    .topic-heading {
        font-size: 4rem;
        line-height: 110%;
    }
    .topic-subheading {
        font-size: 1.7rem;
        line-height: 150%;
    }
}

@media screen and (max-width: 64rem) {
    main {
        margin-top: 8rem;
    }
    p {
        line-height: 170%;
    }

    .navbar {
        padding: 0.75rem;
    }
    .nav-links-div {
        position: static;
        display: block;
        margin-top: 0.5rem;
    }
    .nav-title {
        font-size: 1.4rem;
    }
    .nav-link {
        font-size: 1rem;
        margin: 0 0.25rem;
    }

    .intro-heading {
        font-size: 4rem;
    }
    .intro-text {
        font-size: 1.25rem;
    }
    .intro-img-caption {
        font-size: 1rem;
    }

    .topic-heading {
        font-size: 3.2rem;
        line-height: 110%;
    }
    .topic-subheading {
        font-size: 1.5rem;
        line-height: 150%;
    }

    .music-recordings-div {
        flex-direction: column;
    }
}

@media screen and (max-width: 48rem) {
    body {
        font-size: 1.1rem;
    }

    .intro-text-div, .intro-img-div {
        flex-basis: 100%;
    }
    
    .topic-heading {
        font-size: 4rem;
        line-height: 110%;
    }
    .topic-subheading {
        font-size: 1.5rem;
        line-height: 150%;
    }
}

@media screen and (max-width: 36rem) {
    .topic-heading-div {
        padding: 12%;
    }
    .topic-heading {
        font-size: 3rem;
    }
    .topic-subheading {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 30rem) {
    .nav-link {
        margin: 0;
    }
    .nav-title {
        font-size: 1.25rem;
    }
}