<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link href="{% link assets/css/main.scss %}" rel="stylesheet">
    <script defer src="{% link assets/js/navbar.js %}"></script>

    <!-- Remove unused font weights when finished with website! -->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <noscript>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet">
    </noscript>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>{{ page.title }}</title>

  </head>

  <body>
    <nav class="navbar" id="navbar">
      <button class="nav-toggle" id="nav-toggle">
        <span class="material-icons md-toggle md-36">menu</span>
      </button>
      <a class="nav-title" href="{% link index.html %}">Skyler</a>
      <div class="nav-links-div">
        <a class="nav-link{% if page.name == 'index.html' %} active{% endif %}" href="{% link index.html %}">Home</a>
        <a class="nav-link{% if page.name == 'about.html' %} active{% endif %}" href="{% link about.html %}">About</a>
        <a class="nav-link{% if page.name == 'music.html' %} active{% endif %}" href="{% link music.html %}">Music</a>
        <a class="nav-link" href="{% link /assets/Skyler Ma's Résumé 2023-02-22.pdf %}">Résumé</a>
      </div>
    </nav>

    <main>
      {{ page.content }}
    </main>
    
    <footer>
      <div class="footer-div">
        <p class="footer-text">
          © 2023 Skyler Ma
        </p>
      </div>
    </footer>
  </body>

</html>