<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link href="{% link assets/css/main.scss %}" rel="stylesheet">
    <script defer src="{% link assets/js/navbar.js %}"></script>

    <!-- Remove unused font weights when finished with website! -->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Red+Hat+Text:wght@300;400;500;600;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <noscript>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Red+Hat+Text:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </noscript>
    
    <title>{{ page.title }}</title>

  </head>

  <body>
    <nav class="navbar" id="navbar">
      <button class="nav-toggle" id="nav-toggle">
        <span class="material-icons md-toggle md-36">menu</span>
      </button>
      <a class="nav-title" href="{% link index.html %}">Skyler</a>
      <div class="nav-links-div">
        <a class="nav-link{% if page.name == 'index.html' %} active{% endif %}" href="{% link index.html %}">Home</a>
        <a class="nav-link{% if page.name == 'about.html' %} active{% endif %}" href="{% link about.html %}">About</a>
        <a class="nav-link{% if page.name == 'music.html' %} active{% endif %}" href="{% link music.html %}">Music</a>
      </div>
    </nav>

    <main>
      {{ page.content }}
    </main>
  </body>
</html>